/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 30px;
}

footer {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

h1 {
    margin: 0;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    header, main, footer {
        padding: 10px;
    }
} 